{% extends 'base.html' %}
{% block main %}

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(../static/img/bg-img/xeebi.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">ჩვენ შესახებ</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">მთავარი</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ჩვენ შესახებ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- About Us Area Start -->
<section class="roberto-about-us-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about-thumbnail pr-lg-5 mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <img style="height: 400px" src=" {{ url_for('static', filename='img/bg-img/hotel.png') }} " alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                    <h2>ნუნისის ისტორია</h2>
                </div>
                <div class="about-content mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <p>სოფელ ნუნისს დიდი ხნის ისტორია აქვს. ჯერ კიდევ ვახუშტი ბატონიშვილს აქვს მოხსენიებული ნუნისის
                        წყალი, როგორც საამო და მარგებელი.</p>
                    <p>ნუნისის აღმოჩენის შესახებ მრავალი ლეგენდა არსებობს. ერთ-ერთი მთავარი მათგანი დავით აღმაშენებლის
                        სახელს უკავშირდება. ლეგენდა მოგვითხობს, რომ დავით მეფე ბრძოლიდან ბრუნდებოდა. დაღლილ სახედრებს
                        კანი მთლიანად გადატყაული ჰქონდათ, როდესაც პირუტყვები ნუნისის წყალში შესულან, ჩაწოლილან და
                        დიდხანს ვერ აუყენებიათ. წყალს მათი დაწყლულებული კანი მალე განუკურნავს. დავითს სოფელი მოსწონებია
                        და იქ ეკლესიის აგება უბრძანებია.</p>
                </div>
            </div>
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                </div>
                <div class="about-content mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <p>1989 წელს სოფელში ჩამოყალიბდა ჯგუფი „იბერიონთა საძმო“. მისი ხელმძღვანელი იყო გიორგი მაზიაშვილი,
                        რომელიც საკუთარ თავს უწოდებდა გიორგი იონთა იბერიონს. ის ამტკიცებდა, რომ მას გამოეცხადა შიო
                        მღვიმელი და აუწყა, რომ ნუნისი არის საქართველოს გეოგრაფიული შუაგული, რომ ნუნისის „ბერთა კლდის“
                        სიღრმეში არის მიწისქვეშა ქალაქი, სადაც დამარხულია ბიბლიაში ლაზარედ წოდებული წიგნი, რომელიც
                        ელოდება მზის სინათლეს. „იბერიონთა საძმოს“ კიდევ ერთი წევრი, გივი ალაზნისპირელი ამტკიცებდა, რომ
                        ნუნისის გამოქვაბული არის ნოეს კიდობანი, ნუნისში გადის დედამიწის მაგნიტური ველი და ის ადგილი
                        მსოფლიოს ცენტრია, სწორედ აქ ეცემა კოსმიური სვეტი, რომელიც წარღვნას გაქცეულ ხალხს ჟანგბადით
                        ამარაგებდა. გამოქვაბულის გახსნის და მისგან წიგნის ამოღების დღე რამდენჯერმე დაინიშნა. ნუნისში
                        მრავალი ადამიანი ჩავიდა საქართველოს სხვადასხვა კუთხიდან, მაგრამ გიორგი იონთა იბერიონმა
                        გადამწყვეტ მომენტში უარი თქვა გამოქვაბულის გახსნაზე.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End -->

<!-- Video Area Start -->
<div class="roberto--video--area bg-img bg-overlay jarallax section-padding-0-100"
     style="background-image: url(../static/img/bg-img/aboutpage.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-6">
                <!-- Section Heading -->
                <div class="section-heading text-center white wow fadeInUp" data-wow-delay="100ms">
                    <h2>ჰოტელი &amp; ოთახები</h2>
                </div>
                <div class="video-content-area mt-100 wow fadeInUp" data-wow-delay="500ms">
                    <a href="#" class="video-play-btn">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Area End -->

<!-- Service Area Start -->
<section class="roberto-service-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>სერვისები &amp; აქტივობები</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src=" {{ url_for('static', filename='img/bg-img/21.jpg') }} " alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>კვება</h5>
                    </div>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src=" {{ url_for('static', filename='img/bg-img/21.jpg') }} " alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>გართობა</h5>
                    </div>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src=" {{ url_for('static', filename='img/bg-img/22.jpg') }} " alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>სპა-გამაჯანსაღებელი</h5>
                    </div>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <img src=" {{ url_for('static', filename='img/bg-img/23.jpg') }} " alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>მკურნალობა ნუნისში</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Area End -->
{% endblock %}