{% extends 'base.html' %}

{% block main %}
<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay"
             style="background-image: url(../static/img/bg-img/xeebi.jpg);"
             data-img-url="{{ url_for('static', filename='img/bg-img/xeebi.jpg') }}">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInLeft" data-delay="200ms">Hotel &amp; SPA</h6>
                                <h2 data-animation="fadeInLeft" data-delay="500ms">Nunisi Forest</h2>
                                <a href="#discover" class="btn roberto-btn btn-2" data-animation="fadeInLeft"
                                   data-delay="800ms">აღმოაჩინეთ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay"
             style="background-image: url(../static/img/bg-img/hotel.png);"
             data-img-url="{{ url_for('static', filename='img/bg-img/hotel.png') }}">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="200ms">Hotel &amp; SPA</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Nunisi Forest</h2>
                                <a href="#discover" class="btn roberto-btn btn-2" data-animation="fadeInUp"
                                   data-delay="800ms">აღმოაჩინეთ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay"
             style="background-image: url(../static/img/bg-img/skebi.jpg);"
             data-img-url=" {{ url_for('static', filename='img/bg-img/skebi.jpg') }}">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInDown" data-delay="200ms">Hotel &amp; SPA</h6>
                                <h2 data-animation="fadeInDown" data-delay="500ms">Nunisi Forest</h2>
                                <a href="#discover" class="btn roberto-btn btn-2" data-animation="fadeInDown"
                                   data-delay="800ms">აღმოაჩინეთ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->

<!-- About Us Area Start -->
<section class="roberto-about-area section-padding-100-0"
    <!-- Hoteearch Form Area -->

    <div class="container mt-100">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                    <h6>ჩვენს შესახებ</h6>
                    <h2><br>Nunisi Forest Hotel & SPA</h2>
                </div>
                <div class="about-us-content mb-100">
                    <h5 class="wow fadeInUp" data-wow-delay="300ms">სამკურნალო, გამაჯანსაღებელი და
                        გასართობ-დასასვენებელი კომპლექსი Nunisi Forest Hotel & SPA მდებარეობს ბორჯომ-ხარაგაულის ეროვნული
                        პარკის ტეროტორიაზე (ზღვის დონიდან 750მ. სიმაღლეზე). ნუნისი არის ბალნეო-კლიმატური კურორტი რომლის
                        უნიკალურობასაც განსაზღვრავს ორი ბუნებრივი სამკურნალო ფაქტორის-სამკურნალო წყლისა და ჰავის
                        შერწყმა. საქვეყნოდ ცნობილი წყლის აბაზანების გარდა, ნუნისი განთქმულია დღემდე ამოუცნობი მისტიური
                        ღირშესანიშნაობებითა და ისტორიული ნაგებობებით.</h5>
<!--                    <p class="wow fadeInUp" data-wow-delay="400ms">მენეჯერი: <span>Salome Elashvili</span></p>-->
                    <img src="{{ url_for('static', filename='img/core-img/signature.png') }}" alt=""
                         class="wow fadeInUp" data-wow-delay="500ms">
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="single-thumb">
                                <img src="{{ url_for('static', filename='img/bg-img/nadzvebi.jpg') }}" alt="">
                            </div>
                            <div class="single-thumb">
                                <img src="{{ url_for('static', filename='img/bg-img/skebi2.jpg') }}" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="single-thumb">
                                <img src="{{ url_for('static', filename='img/bg-img/nunisi.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End -->

<!-- Service Area Start -->
<div class="roberto-service-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="service-content d-flex align-items-center justify-content-between">
                    <!-- Single Service Area -->
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="{{ url_for('static', filename='img/core-img/icon-3.png') }}  " alt="">
                        <h5>კვება</h5>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src="{{ url_for('static', filename='img/core-img/icon-4.png') }}  " alt="">
                        <h5>გართობა</h5>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{{ url_for('static', filename='img/core-img/icon-2.png') }}  " alt="">
                        <h5>სპა-გამაჯანსაღებელი</h5>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <img src="{{ url_for('static', filename='img/core-img/icon-1.png') }}  " alt="">
                        <h5>ფასები</h5>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="900ms">
                        <img src=" {{ url_for('static', filename='img/core-img/icon-2.png') }} " alt="">
                        <h5>მკურნალობა ნუნისში</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Area End -->

<!-- Our Room Area Start -->
<section class="roberto-rooms-area">
    <div class="rooms-slides owl-carousel">
        <!-- Single Room Slide -->
        <div class="single-room-slide d-flex align-items-center">
            <!-- Thumbnail -->
            <div class="room-thumbnail h-100 bg-img"
                 style="background-image: url(../static/img/bg-img/luxi.png);"></div>

            <!-- Content -->
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">ნომერი ლუქსი</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">400$ <span>/ დღე</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> ზომა</span> <span>: 30 ft</span></li>
                    <li><span><i class="fa fa-check"></i> რაოდენობა</span> <span>: 5 სტუმარი</span></li>
                    <li><span><i class="fa fa-check"></i> საძინებელი</span> <span>: 2</span></li>
                    <li><span><i class="fa fa-check"></i> სერვისები</span> <span>: Wifi, ტელევიზია</span></li>
                </ul>
                <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">დეტალების ნახვა</a>
            </div>
        </div>

        <!-- Single Room Slide -->
        <div class="single-room-slide d-flex align-items-center">
            <!-- Thumbnail -->
            <div class="room-thumbnail h-100 bg-img"
                 style="background-image: url(../static/img/bg-img/samiadgili.png);"></div>

            <!-- Content -->
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">სამადგილიანი ნომერი</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">125$ <span>/ დღე</span></h3>
               <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> ზომა</span> <span>: 30 ft</span></li>
                    <li><span><i class="fa fa-check"></i> რაოდენობა</span> <span>: 5 სტუმარი</span></li>
                    <li><span><i class="fa fa-check"></i> საძინებელი</span> <span>: 2</span></li>
                    <li><span><i class="fa fa-check"></i> სერვისები</span> <span>: Wifi, ტელევიზია</span></li>
                </ul>
                <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">დეტალების ნახვა</a>
            </div>
        </div>

        <!-- Single Room Slide -->
        <div class="single-room-slide d-flex align-items-center">
            <!-- Thumbnail -->
            <div class="room-thumbnail h-100 bg-img"
                 style="background-image: url(../static/img/bg-img/panoramulinomeri.png);"></div>

            <!-- Content -->
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">პანორამული ორ ადგილიანი ნომერი</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">125$ <span>/ Day</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> ზომა</span> <span>: 30 ft</span></li>
                    <li><span><i class="fa fa-check"></i> რაოდენობა</span> <span>: 5 სტუმარი</span></li>
                    <li><span><i class="fa fa-check"></i> საძინებელი</span> <span>: 2</span></li>
                    <li><span><i class="fa fa-check"></i> სერვისები</span> <span>: Wifi, ტელევიზია</span></li>
                </ul>
                <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">დეტალების ნახვა</a>
            </div>
        </div>

        <!-- Single Room Slide -->
        <div class="single-room-slide d-flex align-items-center">
            <!-- Thumbnail -->
            <div class="room-thumbnail h-100 bg-img"
                 style="background-image: url(../static/img/bg-img/standart.png);"></div>

            <!-- Content -->
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">სტანდარტული ორადგილიანი ნომერი</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">125$ <span>/ Day</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> ზომა</span> <span>: 30 ft</span></li>
                    <li><span><i class="fa fa-check"></i> რაოდენობა</span> <span>: 5 სტუმარი</span></li>
                    <li><span><i class="fa fa-check"></i> საძინებელი</span> <span>: 2</span></li>
                    <li><span><i class="fa fa-check"></i> სერვისები</span> <span>: Wifi, ტელევიზია</span></li>
                </ul>
                <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">დეტალების ნახვა</a>
            </div>
        </div>
    </div>
</section>
<!-- Our Room Area End -->

<!-- Testimonials Area Start -->
<section class="roberto-testimonials-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>მომხმარებლის შეფასებები</h2>
                </div>
                <!-- Testimonial Slide -->
                <div class="testimonial-slides owl-carousel mb-100">

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“This place is magical! I stayed here over Christmas holiday and had the best time I could
                            have asked for! It was so beautiful to be here among the snow covered mountains and
                            trees.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Chris Hughs <span></span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“A true sample of excellent hospitality!

                            Without doubt one of the my favorite place. I had a great 10 days! Stayed in the cozy
                            cottage.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Nino Bakradze<span></span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“ულამაზესი ადგილი 💞 პატარა სამოთხე 💞💞💞”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>თამუნა თამუნა <span></span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“Exceptional budget forest resort. The manager speaks English and the staff are extremely
                            kind. The spa was developed around a spring that is theraputic for skin conditions.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Nino Vezirishvili <span></span></h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Area End -->

<!-- Projects Area Start -->
<section class="roberto-project-area" id="discover">
    <!-- Projects Slide -->
    <div class="projects-slides owl-carousel">
        <!-- Single Project Slide -->
        <div class="single-project-slide active bg-img" style="background-image: url(../static/img/bg-img/xeebi.jpg);">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="btn project-btn">აღმოაჩინე <i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url(../static/img/bg-img/skebi2.jpg);">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="btn project-btn">აღმოაჩინე<i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url(../static/img/bg-img/hotel.png);">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="btn project-btn">აღმოაჩინე<i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url(../static/img/bg-img/mdinare.jpg);">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="btn project-btn">აღმოაჩინე<i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url(../static/img/bg-img/kibeebi.jpg);">
            <!-- Hover Effects -->
            <div class="hover-effects">
                <a href="#" class="btn project-btn">აღმოაჩინე<i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Projects Area End -->

<!-- Blog Area Start -->
<section class="roberto-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>ჩვენი ბლოგები</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <a href="#" class="post-thumbnail"><img
                            src=" {{ url_for('static', filename='img/bg-img/berebis-klde.png') }} "
                            alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">Jan 02, 2024</a>
                        <a href="#" class="post-catagory"></a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">ბერების კლდე</a>
                    <p>ნუნისის ეკლესიიდან რამდენიმე კილომეტრის დაშორებით ტყის სიღრმეში მდებარეობს ადგილი, რომელსაც
                        "ბერების კლდეს" ეძახიან. მის კომპლექსში შედის კლდეში გამოკვეთილი სამი გამოქვაბული, გადმოცემის
                        ტანახმად ნუნისის ღვთისმშობლის ტაძარი ოდითგანვე საიდუმლო გვირაბით უკავშირდებოდა "ბერების
                        კლდეს".</p>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right"
                                                                     aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <a href="#" class="post-thumbnail"><img
                            src=" {{ url_for('static', filename='img/bg-img/samkurnalo-wyali.png') }} "
                            alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">Jan 16, 2024</a>
                        <a href="#" class="post-catagory"></a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">ნუნისის სამკურანლო წყალი</a>
                    <p>კურორტ ნუნისზე და მის საოცარ, სამკურნალო თვისებების მქონე წყალზე არაერთი ისტორიული ლეგენდა და
                        თქმულება მოგვითხრობს, რომელთა ნამდვილობაშიც ნუნისში მოხვედრილი დამსვენებლები თავადვე
                        რწუმნდებიან, მკურნალობის შედეგები უტყუარი საბუთია მათი ნამდვილობისა.</p>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right"
                                                                     aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <a href="#" class="post-thumbnail"><img
                            src=" {{ url_for('static', filename='img/bg-img/eklesia.png') }} "
                            alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">Oct 02, 2023</a>
                        <a href="#" class="post-catagory"></a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">ნუნისის ეკლესია</a>
                    <p>ნუნისის ღვთისმშობლის ეკლესია იმერეთის მხარეში, ხარაგაულის მუნიციპალიტეტის სოფელ ნუნისში
                        მდებარეობს. იგი IX-X საუკუნეებით თარიღდება. ნაგებობა მრავალჯერ დანგრეულა და განუახლებიათ.
                        უკანასკნელად ტაძარი ომარ-ხანმა დაანგრია და დაწვა, 1785 წელს, ვახანის ციხის აღების შემდეგ და XIX
                        საუკუნემდე აღარ აღუდგენიათ.</p>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right"
                                                                     aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Blog Area End -->
{% endblock %}